<h1>Cohort 4 Rails Quotations</h1>

<div id="all-quotations">
  <%= render @quotations %>
</div>



<div id="new-form-container">
</div>


<%= link_to "New Quotation", new_quotation_path, remote: true %>
